/* COLOR DE LA PAG #2293ff */
/* ------------------------------------------------- */
.carousel-control-prev-icon,
.carousel-control-next-icon {
background-color: black;
}

.navbar-nav .nav-link {
    text-align: center;
    font-size: 25px; 
}

/* ------------------------------------------------- */

/* Estilos personalizados para las casillas de productos */
.product-card {
    width: 30%; /* Establecer el ancho de cada tarjeta */
    margin-bottom: 20px; /* Espacio entre las tarjetas */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-color: #000;
}

.product-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.imagen-producto {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.titulo {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.descripcion {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

.precio-original {
    font-size: 0.9rem;
    color: #999;
    text-decoration: line-through;
    margin-bottom: 5px;
}

.precio {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color);
}

.descuento {
    font-size: 0.9rem;
    color: #FFFFFF;
    background-color: #2293ff; /* Color de fondo del cuadro */
    padding: 5px 10px; /* Añadir espacio dentro del cuadro */
    border-radius: 5px; /* Establecer bordes redondeados */
    margin-bottom: 5px;
}

.precio-descuento {
    font-size: 1.1rem;
    font-weight: bold;
    color: #000;
}
/* ------------------------------------------------- */

/* Estilos para mostrar los productos en línea y agruparlos de a tres */
.container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Distribuir los elementos uniformemente */
}

.product-card {
    width: 10%; 
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-card img {
    max-width: 100%; /* Asegurar que la imagen no sobrepase el contenedor */
    border-radius: 10px; /* Establecer bordes redondeados */
}
/* ------------------------------------------------------------- 

BOTON PARA AGRAGAR AL CARRO O COMPRAR

*/
.button {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #7d2ae8;
    transition: all 0.2s ease;
  }
  
  .button:active {
    transform: scale(0.96);
  }
  
  .button:before,
  .button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  
  .button:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
  }
  
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  
  .button:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
  }
  
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }

/*------------------------------------------------------------------------
 ESTILOS PARA EL FORMULARIO DE REGISTRO
 */
  
 .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}
  
/* 
-------------------------------------------------------------------------------------

STYLES PARA LAS IMAGENES AL APRETAR UN PRODUCTO */

.imagen-product {
    width: 70%;
    margin-left: 190px;
}

.imagenes-prod {
    width: 20%;
    height: 20%;
}

/*--------------------------------------------------------------------------------------

 STYLE FORMULARIO 
 */

 body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: none;
}
.container.active {
    display: block;
}
.container h2 {
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.form-group input[type="checkbox"] {
    width: auto;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.form-group button:hover {
    background-color: #0056b3;
}
.error {
    color: red;
    margin-top: 5px;
}
.toggle-form {
    text-align: center;
    margin-top: 10px;
}
.toggle-form a {
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
}